@tailwind base;
@tailwind components;
@tailwind utilities;

/* #App {
  display: flex;
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  font-family: sans-serif;
  text-align: center;
  background: #add;
} */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
   Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}



.info-custom-style .in {
  transform: scale(.8)
}

.info-custom-style .in::after {
  content: 'i';
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  left: 15px;
  top: .5px;
  bottom:0;
}

.info-custom-style  .out{
  transform: scale(0)
}

.label-custom-style {
  height: 10px;
  width: 10px;
  background: rgb(0, 0, 0);
  border-radius: 100%;
}

div.custom-tooltip span {
  /* visibility: hidden; */
  top: 40px;
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  text-align: center;
  max-width: 200px;
  padding: 5px 10px;
  margin-left: -220px;
  cursor: pointer;
}
/* div.custom-tooltip:hover span{
  visibility: visible;
}

div.custom-tooltip:hover span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  bottom: -20px;
  left: -10px;
  margin: 0 50%;
} */